.list {
    display: flex;
    background-color: black;
    height: 40px;
    font-size: 25px;
}
.nav {
    margin: 20px;
    color: aqua;
    align-content: center;
}
div {
    background-color: yellow;
    color: black;
    height: 500px;
    width: 250px;
    text-align:left;
}
.left {
    float: left;
}
.right {
    float: right;
    clear: right;
}
.font {
    font-weight: bold;
    margin: 20px;
    font-size: larger;
}